<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>LoggerFilter</filter-name>
        <filter-class>avserver.control.LoggerFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoCacheFilter</filter-name>
        <filter-class>avserver.control.NoCacheFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>avserver.control.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggerFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <servlet-name>DoScan</servlet-name>
        <servlet-name>DoLogin</servlet-name>
        <servlet-name>DoUpload</servlet-name>
        <servlet-name>DoSearch</servlet-name>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-name>DoFeedback</servlet-name>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-name>CheckUploadLimit</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoCacheFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>DoScan</servlet-name>
        <servlet-name>DoUpload</servlet-name>
        <servlet-name>DoSearch</servlet-name>
        <servlet-name>DoFeedback</servlet-name>
        <url-pattern>*.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>avserver.config.InitialConfig</listener-class>
    </listener>
    <servlet>
        <servlet-name>DoUpload</servlet-name>
        <servlet-class>avserver.control.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoScan</servlet-name>
        <servlet-class>avserver.control.ScanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoSearch</servlet-name>
        <servlet-class>avserver.control.SearchFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckUploadLimit</servlet-name>
        <servlet-class>avserver.control.UploadLimitServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoUpload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoScan</servlet-name>
        <url-pattern>/doScan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoSearch</servlet-name>
        <url-pattern>/doSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckUploadLimit</servlet-name>
        <url-pattern>/checkUploadLimit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <error-page>
        Missing login 
        <error-code>401</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        Missing resource 
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        Forbidden directory listing 
        <error-code>403</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        Uncaught exception 
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        Unsupported servlet method 
        <error-code>503</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <location>/error.jsp</location>
    </error-page>
</web-app>
