*{
    font-family: 'Shabnam' !important;
}
.error{
    font-family: monospace;
    font-size: 12px ;
    overflow-x: scroll;
}

#error-code{
    color: #ff9b30;
    font-size: xx-large;
}

#error-description{
    color: #757575;
    font-size: large;
}

#body-container{
    padding: 10px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    font-weight: 200 !important;
    color: #ff9b30 !important;
}


@media screen and (max-width: 420px) {
    .logo {
        font-size: 30px !important;
    }

    h1{
        font-size: 30px !important;
    }
}

@media screen and (max-width: 600px) and (min-width: 420px) {
    .logo {
        font-size: 40px !important;
    }

    h1{
        font-size: 40px !important;
    }
}

@media screen and (min-width: 600px) {
    .logo {
        font-size: 60px !important;
    }

    h1{
        font-size: 60px !important;
    }
}

.w3-twothird{
    float: inherit !important;
}